---
import Layout from '@/layouts/Layout.astro'

import Hero from '@/components/Hero.svelte'
import AboutMe from '@/components/AboutMe.svelte'
import Experience from '@/components/Experience.svelte'
import Studies from '@/components/Studies.svelte'
import Contact from '@/components/Contact.svelte'
---

<style lang="scss" is:global>
  .page-container {
    display: flex;
    flex-direction: column;
    .title {
      font-size: 50px;
      font-weight: bolder;
      color: var(--colorBrand) !important;
      padding: 20px 0;
    }

    .color {
      color: var(--colorBrand) !important;
    }

    p {
      font-size: 22px;
    }
  }
</style>

<Layout title="Laia Martin">
  <div class="page-container">
    <Hero />
    <AboutMe client:load />
    <Studies />
    <Experience />
    <Contact client:load />
  </div>
</Layout>
